h1{
    color:rgb(132, 212, 212);
    background-color: blue;
}
body{
    background-color: black;
    background-image:url(coffe.png) ;
    background-repeat: no-repeat;
    background-position: right center;
}
p{
    color:azure
}